:root {
    --main-bg-color: rgb(209, 181, 181);
    --dark-bg-color: rgba(0, 0, 0, 0.8);
    --green-bg-color: rgba(0, 128, 0, 0.837);
    --blue-bg-color: rgba(0, 0, 255, 0.841);
}

.myDark-background {
    background-color: var(--dark-bg-color);
}

.myGreen-background {
    background-color: var(--green-bg-color);
}

.myBlue-background {
    background-color: var(--blue-bg-color);
}

.myOriginal-background {
    background-color: var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
    text-align: center;
}

nav {
    background-color: rgba(76, 188, 190, 0.112);
    border: #00060400 2px solid;
    text-align: center;
    padding: 1rem;

}



.inlineEl {
    display: inline-block;
    background-color: rgba(33, 33, 168, 0.41);
    padding: 0;
}


.dropOptions {
    position: absolute;
    background-color: rgb(252, 211, 148);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.33);
    z-index: 1;
    display: none;
}

.dropOptions button {
    display: block;
    margin: 5px;

}

.navButton {
    text-decoration: none;

    padding: 10px 30px;
    background-color: rgb(187, 152, 24);
    border: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}



.navButton:hover {
    background-color: #0faa04;
    color: white;
}


.buttonClicked {
    background-color: #0ce410be !important;
    color: white;
}

.hideElement {
    display: block;
}



#buttonsImg {
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    gap: 15px
        /* gap: 2rem; */

}

.changeImg {
    margin: 0 2rem;
    font-size: 2rem;
}

#dotContainer {
    margin: 0.7rem 0;
}

.dot {
    margin-right: 0.8rem;
    height: 16px;
    width: 16px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

#imagesElement {

    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    background-color: #551A8B;
    max-width: fit-content;
    margin: auto;
}

#imageBox {
    display: block;
}

#imageBox>div>img {
    border-radius: 5%;
}


#passedPicture,
#nextPicture {
    background-color: blue;
    border: 1px black solid;
    border-radius: 15%;
}


#passedPicture {
    padding: 4px 6px 4px 4px;
}

#nextPicture {
    padding: 4px 4px 4px 6px;

}




#passedPicture:hover,
#nextPicture:hover {
    background-color: #0faa04;
}

.arrow-left {

    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 16px solid green;
}

.arrow-right {

    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 16px solid green;
}

#autoImg {

    height: 1.5rem;
    background-color: rgb(245, 90, 33);
    color: antiquewhite;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

#stopImg {
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;

}


.stopSquare {
    background-color: rgba(255, 0, 0, 0.632);
}