body {
    background-color: rgb(209, 181, 181);
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgba(133, 248, 250, 0.795);
    border: #00060400 2px solid;
    text-align: center;

}


.inlineEl {
    display: inline-block;
    background-color: blueviolet;
    padding: 0;
}


.dropOptions {
    position: absolute;
    background-color: rgb(252, 211, 148);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

.dropOptions button {
    display: block;
    margin: 5px;
    float: none;
}

.navButton {
    text-decoration: none;

    padding: 10px 30px;
    background-color: rgb(226, 188, 53);
    border: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    font-family: 'Times New Roman', Times, serif;
    color: #551A8B;
}

.hideElement {
    display: block;
}

.navButton:hover {
    background-color: #0faa04;
    /* Green */
    color: rgb(225, 232, 26);
}



.navButton:active {
    background-color: #3f524b;
}

#imagesElement {
    padding: 2rem;
    text-align: center;
}

#buttonsImg {
    margin: 1rem;

}

.changeImg {
    margin: 0 2rem;
    font-size: 2rem;
}