body {
    background-color: rgb(209, 181, 181);
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgba(133, 248, 250, 0.795);
    border: #00060400 2px solid;
}

#nav {
    text-align: center;
    /* overflow: hidden; */
}

#nav li {
    display: inline;

}



li a {
    text-decoration: none;
}






li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}


.line {
    display: inline;
}

.dropbtn {
    cursor: pointer;
    border: none;
}

.dropdown {
    position: absolute;
    top: 0;
    left: 0;
}

.dropOptions {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: rgb(252, 211, 148);
    padding: 12px 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropOptions button {
    margin: 5px;
}

.navButton {
    text-decoration: none;

    padding: 10px 30px;
    background-color: rgb(226, 188, 53);
    border: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    font-family: 'Times New Roman', Times, serif;
    color: #551A8B;
}

.hideElement {
    display: none;
}

.navButton:hover {
    background-color: #0faa04;
    /* Green */
    color: rgb(225, 232, 26);
}



.navButton:active {
    background-color: #3f524b;
}